<!--
  Created by: Mai Van Manh
  Date: 11/02/2020
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Danh sách người dùng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"
        integrity="sha512-/xb5+PNOA079FJkngKI2jvID5lyiqdHXaUUcfmzE0X0BdpkgzIWHC59LOG90a2jDcOyRsd1luOr24UCCAG8NNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        * {
            box-sizing: border-box;
        }

        .user {
            display: flex;
            align-items: center;
            padding: 12px 24px;
            cursor: pointer;
        }

        .user:nth-child(odd) {
            background-color: #F4F5F7;
        }

        .user:hover {
            background-color: #E6EFFF;
            transition: 0.3s;
        }

        .avatar {
            font-weight: bold;
            font-size: 1.5rem;
            background-color: deepskyblue;
            width: 50px;
            height: 50px;
            margin-right: 16px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white
        }

        .user-info {
            height: 50px;
            flex-grow: 1;
        }

        .user-name {
            font-size: 1.1rem;
        }

        .user-info .online {
            font-size: 0.9rem;
            color: rgb(99, 99, 99)
        }

        .user .status {
            width: 90px;
            text-align: center;
        }

        .user:hover {
            background-color: #E6EFFF;
        }

        .user:hover .avatar {
            background-color: rgb(7, 142, 204);
            transition: 0.3s;
        }

        .user:hover .user-name {
            font-weight: 450;
            transition: 0.3s;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="rounded border mt-5 mb-3">
                    <h4 class="text-primary text-center my-5">Danh sách người dùng trực tuyến</h4>
                    <p style="padding: 0 24px">Số người online: <strong id="online-count"
                            class="badge badge-danger badge-pill"></strong>
                    </p>
                    <div id="user-list" class="people">

                    </div>
                </div>
                <p class="small">Danh sách này cần được cập nhật tự động mỗi khi có người dùng đăng nhập hoặc đăng
                    xuất/thoát.
                    Ngoài ra trạng thái của mỗi người dùng cũng cần được cập nhật mỗi khi họ tham gia hoặc rời một cuộc
                    trò
                    chuyện.</p>
                <p class="small">Để cho đơn giản, trang web chỉ cần hỗ trợ với mỗi người vào một thời điểm, không thể
                    chat với người có trạng thái là <strong>đang bận</strong>.</p>
            </div>
        </div>

        <div id="online-notification" class="alert alert-success d-inline position-fixed small"
            style="bottom: 20px; left: 20px">
            <strong>Trần Quang Trí</strong> vừa mới online
        </div>
        <div id="offline-notification" class="alert alert-danger d-inline position-fixed small"
            style="bottom: 20px; right: 20px">
            <strong>Trần Quang Trí</strong> đã thoát khỏi ứng dụng
        </div>

        <script>
            let socket;
            let listUsers = []
            let username = `{{user}}`
            window.onload = () => {
                console.log('Mở kết nối đến server');
                socket = io();

                socket.on('connect', handleConnectionSuccess)
                socket.on('disconnect', () => console.log('Đã mất kết nối với server'))

                socket.on('list-users', handleUserList)
                socket.on('new-user', handleNewUser)
                socket.on('user-leave', handleUserLeave)
                socket.on('register-name', handleRegisteringUsername)

            }

            function handleConnectionSuccess() {
                console.log('Đã kết nối thành công với id: ' + socket.id)
                socket.emit('register-name', username)
            }

            function handleUserList(users) {
                console.log('Đã nhận danh sách user từ server')
                users.forEach(u => {
                    if (u.id !== socket.id) {
                        listUsers.push(u)
                        displayUser(u)
                    }
                })
            }

            function handleNewUser(user) {
                console.log('Một người mới đã kết nối')
                console.log(user)
                listUsers.push(user)
            }

            function handleUserLeave(id) {
                listUsers = listUsers.filter(u => u.id != id)
                console.log(`${id} đã thoát, chỉ còn lại ${listUsers.length} người trong phòng`)
                removeUser(id)
            }

            function handleRegisteringUsername(data) {
                let { id, username } = data;
                let user = listUsers.find(u => u.id == id)
                if (!user)
                    return console.log('Không tim thấy user')
                user.username = username
                displayUser(user)
            }

            function displayUser(user) {
                let status = user.free ? '<div class="badge badge-success badge badge-pill">Đang rảnh</div>' : '<div class="badge badge-warning badge badge-pill">Đang bận</div>'
                let userDiv = `<div id="${user.id}" class="user">
                            <div class="avatar">${user.username[0]}</div>
                            <div class="user-info">
                                <div class="user-name">${user.username}</div>
                                <div class="online">Truy cập lúc: ${user.loginAt} </div>
                            </div>
                            <div class="status">
                                ${status}
                            </div>
                        </div>`;
                document.getElementById('user-list').innerHTML += userDiv
                $(`#online-count`).html($('#user-list .user').length)
            }

            function removeUser(id) {
                document.getElementById(id).remove()
                $(`#online-count`).html($('#user-list .user').length)
            }


        </script>
</body>

</html>